//Main
@import 'variables';
@import 'fonts/bebasneue';
@import 'fonts/gilroy';
@import 'general';

@import 'components/header';
@import 'components/burger-menu';

@import 'components/hero';

@import 'components/servises';
@import 'components/services-page';

@import 'components/stickybox';

@import 'components/about';
@import 'components/about-page';

@import 'components/customers';
@import 'components/licenses';
@import 'components/consultation';
@import 'components/footer';
@import 'components/btn';
@import 'components/button-go-up';
@import 'components/sidebar';
@import 'components/modal';
@import 'components/main';

@import 'components/service-page';
@import 'components/breadcrumb';

/*
@import "components/logo";
@import "components/social";
@import "components/phone";
@import "components/btn-arrow";
@import "components/main-menu";
@import "components/news";
@import "components/index-about";
@import "components/main-sections";
@import "components/add-sections";
@import "components/side-panel";
@import "components/header-mobile";
@import "components/footer-mobile";
@import "components/submenu";
@import "components/sidebar";
@import "components/popup-order";
@import "components/mobile-menu";
@import "components/breadcrumbs";
@import "components/search-bar";
@import "components/page-tab";
@import "components/pagination";
@import "components/product-item";
@import "components/product-list";
@import "components/sort-bar";
@import "components/catalog";
@import "components/section-list";
@import "components/product";
@import "components/product-price";
@import "components/contacts";
@import "components/points-delivery";
@import "components/basket";
@import "components/order";
@import "components/address-text";
@import "components/main-banner";
@import "components/not-found";
@import "components/reviews";
@import "components/vacancy";
@import "components/opd";
@import "components/spoiler";
@import "components/order-cart";
@import "components/basket-top";*/
