.customers {
  padding: 60px 0 110px;

  @media #{$notebook_s} {
    padding: 60px 0 60px;
  }

  @media #{$tablet} {
    padding: 22px 0 44px;
  }

  &__container {
    display: flex;
    max-width: 1800px;
    padding: 0 150px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    @media #{$tablet-mini} {
      padding: 0 10px;
    }

    @media #{$phone} {
      padding: 0;
    }

    .customers__title {
      margin-bottom: 40px;

      @media #{$tablet} {
        margin-bottom: 22px;
      }
    }

    .customers__wrapper {
      padding: 5px 0;
      max-width: 1500px;
      display: flex;
      flex-direction: column;
      border-radius: 50px;
      //background-color: #fff;
      backdrop-filter: blur(5px);
      background: rgba(255, 255, 255, 0.3);
      margin-bottom: 32px;

      @media #{$tablet} {
        padding-bottom: 84px;
        margin-bottom: 0;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        column-gap: 4px;
        row-gap: 5px;

        @media #{$laptop} {
          justify-content: flex-start;
        }

        @media #{$tablet} {
          align-items: center;
        }

        li {
          width: calc((100% - 12px) / 4);
          text-align: center;
          position: relative;
          padding: 10px 5px 20px;

          @media #{$laptop} {
            width: calc((100% - 8px) / 3);
          }

          @media #{$tablet} {
            width: calc((100% - 4px) / 2);
            min-height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 5px;
            column-gap: 2px;
            row-gap: 2px;
          }

          .item-img {
            height: 105px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media #{$tablet} {
              height: 80px;
            }

            @media #{$phone} {
              height: 80px;
              width: 140px;
            }
          }

          .text {
            //padding-block: 10px;
            padding: 5px 0 10px;
            font-weight: 400;
            //font-size: 18px;
            font-size: clamp(14px, 0.93vw, 18px);
            color: #b9c0ca;

            @media #{$laptop_s} {
              display: none;
            }
          }

          img {
            //width: 70%;
            //display: inline-flex;
            //align-items: center;
            //justify-content: center;
            margin: 0 auto;
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
          }
        }

        li:nth-child(n + 5) {
          padding-top: 30px;

          @media #{$tablet} {
            padding-top: 5px;
          }
        }

        li:first-of-type::before {
          content: '';
          position: absolute;
          left: -152px;
          bottom: -105px;
          width: 300px;
          height: 200px;
          background: url('../images/line.png') no-repeat;
          pointer-events: none;
        }

        li:not(:nth-child(n + 5))::after {
          content: '';
          position: absolute;
          right: -150px;
          bottom: -105px;
          width: 300px;
          height: 200px;
          background: url('../images/line.png') no-repeat;
          pointer-events: none;
        }

        li:not(:nth-child(n + 6))::after {
          @media #{$laptop} {
            content: '';
            position: absolute;
            right: -150px;
            bottom: -105px;
            width: 300px;
            height: 200px;
            background: url('../images/line.png') no-repeat;
            pointer-events: none;
          }
        }

        @media #{$laptop} {
          li:first-of-type::before {
            display: none;
          }
          li:nth-child(3)::after {
            display: none;
          }
        }

        @media #{$tablet} {
          li:nth-child(2n + 2)::after {
            display: none;
          }
          li:nth-child(3)::after {
            display: flex;
            pointer-events: none;
          }
          li:nth-child(7)::after {
            content: '';
            position: absolute;
            right: -150px;
            bottom: -105px;
            width: 300px;
            height: 200px;
            background: url('../images/cast_rasdel_t.svg') no-repeat;
            pointer-events: none;
          }
        }
      }
    }

    .customers__btn {
      display: flex;
      align-items: center;
      justify-content: center;

      @media #{$tablet} {
        margin-top: -50px;
      }

      .btn__customers {
        display: inline-flex;
        height: 20px;
        padding-left: 20px;
        line-height: 20px;
        background: transparent;
        align-items: baseline;
        font-weight: 700;
        font-size: 20px;
        color: #244f77;
        transition: 0.3s ease-in;
        width: 200px;
        justify-content: center;

        svg {
          margin-left: 18px;
          color: #56a2e9;
        }
      }

      .btn__customers:hover {

        svg {
          color: #34c3ff;
          //transform: rotate(360deg);
          transition: 0.6s ease-in;
        }
      }
    }
  }
}
