.licenses {
  padding: 72px 0 250px;
  background: url("../images/bg-licen.png") no-repeat center/contain;
  z-index: 2;

  @media #{$notebook_s} {
    padding: 170px 0 150px;
  }

  @media #{$tablet} {
    padding: 35px 0 40px;
    background: none;
  }

    .licenses__container {
      margin-top: -120px;
      //max-width: 950px;
      width: 100%;
      margin-right: auto;


      @media #{$notebook_s} {
        margin-right: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }

      @media #{$tablet} {
        margin-right: 0;
        margin-top: 100px;
      }

      @media #{$phone} {
        margin-top: 0;
      }
    }

    .title__left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 81px;
      padding-left: 60px;
      padding-top: 94px;

      @media #{$notebook_s} {
        padding-top: 5px;
        margin-bottom: 34px;
      }

      @media #{$laptop_s} {
        //justify-content: flex-start;
        margin-bottom: 5px;
        padding-left: 0;
        justify-content: center;
      }
    }

  .licenses__content {
    @media #{$tablet} {
      width: 100%;
      min-height: 280px;
      margin-bottom: 5px;
      background: url("../images/licenMobile.png") no-repeat center/contain;
    }
  }

    .licenses__wrapper {
      margin-left: 11%;
      margin-bottom: 25px;
      border-radius: 30px;
      max-width: 945px;
      padding: 33px 136px 33px 39px;
      backdrop-filter: blur(25px);
      background: rgba(255, 255, 255, 0.5);
      position: relative;

      @media #{$laptop_s} {
        margin: 0;
        display: flex;
        align-items: center;
        padding: 39px 36px;
      }

      @media #{$phone} {
        padding: 39px 15px;
        text-align: left;
      }

      span {
        display: inline-block;
        margin-bottom: 24px;
        font-family: $font-family-title;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.375;
        color: #494c54;
        //width: 100%;
        position: relative;
        max-width: 790px;

        @media #{$laptop_s} {
          max-width: 100%;
        }
      }

      .licenses__btn-white {
        padding: 0 19px 0 51px;
        max-width: 200px;
        position: absolute;
        font-size: 24px;
        color: #34c3ff;
        display: inline-flex;
        align-items: center;
        bottom: -6%;
        right: 160px;
        width: 200px;

        @media #{$phone} {
          align-items: center;
          padding: 3px 13px 0 33px;
          right: 28%;
          max-width: 150px;
          font-size: 20px;
          bottom: -20px;
        }
      }
    }
  }
