.footer {
  background: url('../images/bg-footer.png') no-repeat center/cover;
  padding: 0px 0 10px;
  position: relative;

  @media #{$tablet-mini} {
    padding: 0 0 10px;
  }

  &__container {
    display: grid;
    grid-template-columns: 3fr 493px 205px;
    grid-template-rows: 57px 1fr;
    grid-template-areas:
      'nav map cont'
      'logo map cont'
      'f-copy f-copy dev';

    @media #{$laptop} {
      grid-template-areas:
        'logo map cont'
        'logo map cont'
        'f-copy f-copy dev';
    }

    @media #{$notebook_s} {
      grid-template-columns: 2fr 350px 1fr;
    }

    @media #{$laptop_s} {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 150px 1fr;
      grid-template-areas:
        'logo cont'
        'map map'
        'f-copy dev';
    }

    @media #{$tablet-mini} {
      grid-template-columns: 1fr 120px;
      //grid-template-rows: 60px 170px 220px 50px 50px; должно быть так
      //временный вариант:
      grid-template-rows: 100px 175px 220px 50px 50px;
      //grid-template-rows: repeat(5, 1fr);
      justify-items: center;
      grid-template-areas:
        'cont cont'
        'logo logo'
        'map map'
        'soci soci'
        'f-copy dev';
    }

    @media #{$phone} {
      justify-items: flex-start;
      grid-template-columns: minmax(190px, 460px) 120px;
      grid-template-rows: 100px 175px 220px 50px;
      grid-template-areas:
        'cont .'
        'logo .'
        'map map'
        'soci soci'
        'f-copy dev';
    }
  }

  &__nav {
    //display: grid;
    grid-area: nav;
    position: relative;
    //align-self: center;
    padding: 15px 35px 10px 35px;
    max-width: 730px;
    border-radius: 0 0 80px 80px;
    //backdrop-filter: blur(30px);
    box-shadow: inset 0 4px 30px 0 rgba(0, 0, 0, 0.3);
    background: rgba(19, 19, 19, 0.3);
    margin-right: -70px;
    @media #{$laptop} {
      margin-right: -20px;
    }

    @media #{$laptop} {
      display: none;
    }

    nav {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .footer__nav-list {
        display: flex;
        list-style-type: none;
        width: 100%;
        justify-content: space-between;
        //column-gap: 95px;

        .footer__nav-item {
          font-weight: 700;
          padding-right: 10px;
          padding-left: 10px;

          .footer__nav-link {
            font-weight: 700;
            font-size: 16px;
            color: #fff;
            position: relative;

            @media #{$laptop} {
              font-size: 16px;
            }
          }

          .footer__nav-link:after {
            position: absolute;
            content: '';
            left: -20%;
            bottom: 0;
            display: block;
            width: 0;
            transition: 0.3s;
            height: 1px;
            color: #fff;
            background-color: #34c3ff;
          }

          .footer__nav-link:hover:after {
            width: 140%;
            color: #34c3ff;
          }

          .link-hov {
            color: #fff;
            transition: 0.3s;
          }

          .link-hov:hover {
            color: #34c3ff;
            text-shadow: 0 0 15px 0 #000;
          }

          .accent {
            color: #fc0;
          }
        }
      }
    }
  }

  &__wrapper-company {
    // grid-area: logo;
    // padding-top: 19px;
    // position: relative;
    display: grid;
    grid-area: logo;
    padding-top: 19px;
    position: relative;
    grid-auto-columns: 130px 350px;
    grid-template-rows: 50px 80px;
    grid-template-areas:
      'logo title-footer'
      'logo title-footer';

    @media #{$tablet-mini} {
      justify-content: center;
      align-items: center;
      width: 100%;
      grid-template-columns: minmax(320px, 750px);
      grid-template-rows: 80px 70px;
      row-gap: 18px;
      grid-template-areas:
        'title-footer'
        'logo';
    }

    @media #{$phone} {
      justify-content: flex-start;
    }

    a {
      font-weight: 700;
      font-size: 20px;
      line-height: 125%;
      color: #bcc1ca;
      grid-area: logo;

      @media #{$tablet-mini} {
        line-height: 50%;
        display: inline-flex;
        column-gap: 10px;
        justify-content: center;
      }

      @media #{$phone} {
        justify-content: flex-start;
      }

      img {
        @media #{$tablet-mini} {
          display: inline-block;
          width: 67px;
          height: 67px;
        }
      }

      .footer__logo_title {
        position: absolute;
        top: 20px;
        left: 130px;
        max-width: 322px;

        @media #{$tablet-mini} {
          position: relative;
          top: 0;
          transform: none;
          left: 0;
          max-width: 400px;
        }

        span {
          display: inline-flex;
          font-size: clamp(14px, 1.04vw, 20px);
          line-height: 133%;
        }

        .logo-active {
          font-size: 30px;
          color: #fc0;

          @media #{$tablet-mini} {
            font-size: 25px;
          }
        }
      }
    }

    .footer__address {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 400px;
      grid-area: title-footer;

      @media #{$tablet-mini} {
        max-width: 700px;
        width: 100%;
        justify-content: center;
        align-items: center;
      }

      @media #{$phone} {
        align-items: flex-start;
      }

      span {
        display: block;
        padding-left: 28px;
        font-family: $font-family-title;
        font-weight: 500;
        font-size: 14px;
        color: #828d9c;
        font-style: normal;
      }

      svg {
        display: inline-block;
        margin-right: 10px;
      }

      p {
        display: inline-block;
        font-weight: 700;
        font-size: 20px;
        font-style: normal;
        color: #fff;

        @media #{$notebook_s} {
          font-size: 18px;
        }

        .grey {
          font-family: $font-family-base;
          display: inline-block;
          font-weight: 700;
          font-size: 20px;
          color: #b1b1b1;
          padding-left: 0;

          @media #{$notebook_s} {
            font-size: 18px;
          }
        }
      }
    }
  }

  &__wrapper-contact {
    //position: relative;
    z-index: 40;
    grid-area: cont;
    display: flex;
    justify-content: flex-end;

    .footer__email {
      padding-top: 18px;

      .footer__email-list {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media #{$notebook_s} {
          display: flex;
        }

        @media #{$tablet-mini} {
          display: flex;
          justify-self: flex-start;
        }

        li {
          padding: 0;
          font-family: $font-family-base;
          font-weight: 700;
          font-size: 30px;

          @media #{$notebook_s} {
            font-size: 25px;
          }

          a {
            color: #fff;
            transition: 0.3s ease-in;

            .grey {
              color: #b1b1b1;
              transition: 0.3s ease-in;
            }

            .span-email {
              font-family: $font-family-title;
              font-weight: 500;
              font-size: 16px;
              color: #b9bfc9;

              i {
                font-weight: 700;
                font-style: normal;
              }
            }
          }

          a:hover {
            color: #34c3ff;
            transition: 0.3s ease-in;

            .grey {
              color: #fff;
              transition: 0.3s ease-in;
            }
          }

          .blue {
            font-family: $font-family-base;
            font-weight: 700;
            font-size: 18px;
            color: #56a2e9;
            transition: 0.3s ease-in;

            @media #{$tablet-mini} {
              display: none;
            }
          }

          .blue:hover {
            color: #fff;
            transition: 0.3s ease-in;
          }
        }

        a:hover {
          span {
            color: #34c3ff;
            transition: 0.3s ease-in;
          }
        }

        .btn__social_footer {
          grid-area: social;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 26px;
          height: 36px;
          line-height: 36px;
          padding: 0 21px;
          box-shadow: inset 0 4px 30px 0 rgba(0, 0, 0, 0.3);
          background: rgba(19, 19, 19, 0.3);
          transition: 0.3s ease-in;

          @media #{$tablet-mini} {
            position: absolute;
            max-width: 408px;
            width: 100%;
            bottom: 14%;
            left: 50%;
            transform: translateX(-50%);
          }

          @media #{$phone} {
            max-width: 357px;
            bottom: 15%;
          }

          svg {
            color: #7d889a;
          }
        }

        .btn__social_footer:hover {
          box-shadow: inset 0 4px 30px 0 rgba(0, 0, 0, 0.8);
          background: rgba(19, 19, 19, 0.8);
          transition: 0.3s ease-in;

          svg {
            color: #34c3ff;
            transition: 0.3s ease-in;
          }
        }

        li:nth-of-type(3) {
          margin-bottom: 12px;
        }
      }
    }
  }

  &__map {
    position: relative;
    grid-area: map;
    //background: #c0e40d;
    padding-top: 18px;
    margin-bottom: 20px;

    img {
      @media #{$notebook_s} {
        width: 100%;
        height: 100%;
      }
    }
  }

  .footer__copyright {
    font-family: $font-family-title, sans-serif;
    position: relative;
    padding-left: 30px;
    grid-area: f-copy;
    display: flex;
    align-items: flex-end;

    @media #{$notebook_s} {
      padding-left: 0;
    }

    @media #{$phone} {
      font-family: $font-family-base, sans-serif;
      max-width: 300px;
    }

    .copy-text {
      font-weight: 400;
      font-size: 16px;
      color: #40464e;
      text-transform: uppercase;

      .copy {
        font-weight: 400;
        font-size: 16px;
        color: #40464e;
        text-transform: capitalize;
      }
      .copy:hover {
        color: #34c3ff;
        transition: 0.3s ease-in;
      }
    }
  }

  &__logo-dev {
    display: grid;
    grid-area: dev;
    position: relative;
    justify-items: end;
    margin-top: -52px;
    z-index: 40;

    @media #{$notebook_s} {
      margin-top: -22px;
    }

    @media #{$laptop_s} {
      margin-top: 0;
    }

    @media #{$phone} {
      margin-left: 14px;
    }
  }
}

.footer::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 38, 45, 0.9);
}
